@media (min-width: 769px) and (max-width: 1200px) {
  .links {
    display: block;
    position: fixed;
    right: -100%;
    top: 5rem;
    flex-direction: column;
    background-color: black;
    width: 100%;
    border-radius: var(--small-radius);
    text-align: start;
    transition: 0.3s;
    padding: 2rem;
    z-index: 9999;
  }
  .links li{
    margin-bottom: 2rem;
    color: var(--white-color);
  }
  .links .btn{
    display: flex;
    justify-content: space-between;
  }
  .links .btn button,
  #Language{
    height: 2rem;
  }
  .links .btn .button{
    background-color: var(--secondary-color);
  }
  .links.active {
    right: 0%;
  }
  .hamburger {
    display: block;
    cursor: pointer;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  header .container {
    justify-content: space-between;
  }
  header .img{
    top: -10rem;
    left: -7rem;
  }
  .links a li.active{
    color: var(--grey-color);
  }
  .Describtion{
    width: 50rem;
  }
  .LandingPage .image img{
    width: 90%;
  }
  .brands .companies{
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  .work .box{
    width: 18rem;
  }
  .cards .card{
    grid-template-columns: repeat(2, 1fr);
  }
  .conversation .container{
    width: 95%;
  }
  .conversation .title p{
    width: 40%;
  }
  .products .product{
    grid-template-columns: repeat(2, 1fr);
  }
  .contact-us .contact{
    padding: 7rem 3rem;
  }
  .contact-us .drop form .form{
    gap: 1rem;
    grid-template-columns: repeat(1, 1fr);
  }
  .footer .container{
    gap: 5rem;
  }
  .services .container{
    padding: 0 2rem;
  }
}
@media screen and (max-width: 768px) {
  header .img{
    top: -10rem;
    left: -7rem;
  }
  .LandingPage .container{
    flex-direction: column-reverse;
  }
  .LandingPage .Describtion{
    width: 75%;
    text-align: center;
  }
  .LandingPage .image img{
    align-items: center;
  }
  .brands .companies{
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .work{
    flex-direction: column;
  }
  .work .box{
    flex-direction: column;
    width: 40rem;
  }
  .work .box img{
    align-self: center;
    margin-bottom: 1rem;
  }
  .work .content{
    padding: 0 2rem 2rem 2rem;
    text-align: center;
  }
  .cards .card{
    grid-template-columns: repeat(1, 1fr);
  }
  .cards .img {
    width: 35rem;
  }
  .cards .content {
    width: 30rem;
  }
  .conversation .container{ 
    width: 95%;
  }
  .conversation .title{
    flex-direction: column;
    gap: 0;
    align-items: center;
  }
  .conversation .title p{
    width: 90%;
  }
  .products .product{
    grid-template-columns: repeat(1, 1fr);
  }
  .products .product .box{
    padding: 5rem;
  }
  .contact-us .container{
    flex-direction: column;
  }
  .contact-us .contact, 
  .contact-us .drop{
    width: 90%;
  }
  .footer .container{
    display: flex;
    flex-direction: column;
    gap: 0;
    align-items: start;
    padding-left: 2rem;
  }
  .footer .copyright {
    padding: 0;
  }
  .development{
    flex-direction: column;
    align-items: center;
  }
  .development .image{
    width: 80%;
  }
  .development .details{
    width: 90%;
    padding: 0;
    text-align: center;
  }
  .services:nth-child(3) .development,
  .marketing:nth-child(2) .development{
    flex-direction: column-reverse;
  }
  .marketing:nth-child(3) .development{
    flex-direction: column;
  }
}